@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f7f7f7; /* Background color */
  --text-color: #333;   /* Text color */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}